version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://darby57:mxmsztcnvawg7kof4hdlfjjou2j04z6a@n8n-postgrespgdog-dbmfdf-postgres-1:5432/postgres
      GITHUB_TOKEN: ${GITHUB_TOKEN:-}
